In [2]:
t1=(3,4,5,5)

In [3]:
type(t1)

tuple

In [4]:
t1

(3, 4, 5, 5)

In [5]:
t1[1]

4

In [6]:
t1[::-1]

(5, 5, 4, 3)

In [8]:
t1[0:3]

(3, 4, 5)

In [10]:
t1.count(5)

2

In [11]:
t1.count(4)

1

In [12]:
i=[1,4,6,7]

In [13]:
i[0]

1

In [14]:
i[0]=100

In [15]:
i

[100, 4, 6, 7]

In [16]:
l=(1,4,6,7)

In [17]:
l

(1, 4, 6, 7)

In [18]:
l[0]

1

In [19]:
l[0]=100

<class 'TypeError'>: 'tuple' object does not support item assignment

In [20]:
tuple_1=(True,"Dwaip",3,4,6,8,4+7j)

In [21]:
for i in tuple_1:
    print(i)

True
Dwaip
3
4
6
8
(4+7j)

In [23]:
for i in  tuple_1:
    print(i,type(i))

True <class 'bool'>
Dwaip <class 'str'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
8 <class 'int'>
(4+7j) <class 'complex'>

In [24]:
max(tuple_1)

<class 'TypeError'>: '>' not supported between instances of 'str' and 'bool'

In [25]:
t1=(3,4,5)

In [26]:
t2=(6,7,8)

In [27]:
t3=(t1,t2)

In [28]:
t3

((3, 4, 5), (6, 7, 8))

In [29]:
"dwai" in t3

False

In [30]:
del t3

In [31]:
t3

<class 'NameError'>: name 't3' is not defined

In [32]:
s={1,2,3,4} //set

In [33]:
s

{1, 2, 3, 4}

In [34]:
s1={1,2,2,3,4,5,6,7,8,8,9,0}

In [35]:
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}